body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

/* Global*/
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#products .container, #portfolio .container, #about .container{
	border-radius: 15px;
	box-shadow:  #006700 5px 5px 4px 4px;
	margin-top: 15px;
	padding: 20px;
	background-color: #ffffff;
}

ul{
	margin: 0;
	padding: 0;
}

section{
	margin: 0;
}

/*Header */
header {
	background: #006700;
	color: #fff;
	padding-top: 0;
	min-height: 70px;
	border-bottom: gold 3px solid;
}

header .container {
	display: block;
}

header .container nav {
	float: left;
	width: 100%;
	background: #006700;
}

header #branding-logo {
	display: inline;
	font-size: 20px;
}

header #branding-logo img {
	width: 125px;
	float: left;
}

header #branding-logo h1{
	margin: 0 auto;
	padding: 0 20px;
	float: left;
	text-shadow: 2px 4px #111;
}

/*
Search bar
*/

.topnav input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
}

/*Phone number to call*/
#call {
	margin: auto;
	width: 100%;
	min-height: 70px;
	text-align: center;
	color: #FFD700;
	text-shadow: 2px 2px 8px #111111;
	font-size: 30px;
	background-color: #f4f4f4;
}

/*Showcase*/
#showcase{
	min-height: 380px;
	background: url('../img/scepter_showcase.jpg') 0 -50px;
	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px 8px #111111;
	font-weight: bold;
	background-size: cover;
	background-repeat: no-repeat;
}

#showcase .container {
	width: 100%;
	/*height: calc(100vh - 150px);*/
	margin: 0;
	padding: 0;
	background: rgb(0, 0, 0); 		/* Fallback color */
  	background: rgba(0, 0, 0, 0.4); /* Black background with 0.4 opacity */
  	background-size: cover;
}

#showcase .container p{
	padding: 0 0 50px 0;
}

#showcase h1{
	margin-top: 75px;
	font-size: 50px;
	margin-bottom: 10px;
	
}

#showcase p{
	font-size: 28px;
	color: #ffffff;
	text-shadow: 2px 2px 8px #111;
}

/*Portfolio*/
#portfolio{
	margin-top: 20px;
}

#portfolio .main-column h1{
	text-align: center;
	font-weight: bold;
}

#portfolio .clients{
	display: inline;
	margin: 20px;
	float: left;
	width: 30%;
	padding: 10px 40px 10px 10px;
	text-align: left;
}

#portfolio .clients p{
	height: 110px;
	background-color: #f4f4f4;
	padding: 15px;
	border-radius: 5px;
}

#portfolio .clients img{
	width: 300px;
	height: 250px;
	border-radius: 16px;
}


/*Contact us*/
#contact-us{
	margin-top: 15px;
	width: 100%;
	min-height: 400px;
	background: lightgray;
}

/*Article*/
#products .container article {
	width: 65%;
	display: inline;
	float: left;
}

/*Sidebar*/
#products .container aside {
	display: inline-flex;
	width: 30%;
	float: right;
	background-color: #f4f4f4;
	border-radius: 10px;
	min-height: 400px;
	width: fit-content;
}

#products .container aside h1{
	padding: 20px 20px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 40px;
	color: #111111;
	text-align: center;
}

/*Footer*/
#footer{
	padding: 20px;
	margin-top: 0px;
	min-height: 250px;
	background-color: #4f4f4f;
	color: #ffffff;
	text-align: center;
}

/* Difference width devices */
@media(max-width: 768px){
	section,
	section h1,
	section#call h1,
	section.clients,
	#portfolio h1,
	#portfolio .clients,
	#portfolio .clients p,
	footer p {
		float: none;
		text-align: center;
		width: 100%;
	}

	header .container {
		width: 100%;
	}

	header #branding-logo {
		display: inline;
		font-size: 12px;
		width: 100%;
	}
	header #branding-logo img {
		width: 90px;
		float: left;
	}
	header #branding-logo h1 {
		
		float: right;
	}

	/*Under development*/
	/*
	.topnav input[type=text] {
		width: 90%;
		margin: 0 auto;
		padding: 14px;
		float: none;
		display: block;
		text-align: left;
		border: 1px solid #ccc;
	}
	*/

	#portfolio .clients img {
		border-radius: 15px;
		display: block;

	}

	#products .container .main-column {
		width: 100%;
	}

	.container .main-column p {
		text-align: justify;
	}

	#products .container aside {
		display: none;
	}
	#about .main-column img {
		width: 100%;
	}


	section {
		border-radius: none;
		box-shadow: gold;
	}

	header {
		margin-top: 0 auto;
		padding-bottom: 18px;
	}

	#showcase {
	 	width: 100%;
	 	background: url('../img/scepter_showcase.jpg');
	  	background-position: center;
	  	background-repeat: no-repeat;
	  	background-size: cover;
	}

	#showcase .container {
		width: 94%;
	}

	#showcase h1 {
		margin-top: 20px;
		font-size: 35px;
	}
	#showcase p{
		margin-top: 0;
		font-size: 20px;
		line-height: 2.5;
	}

	#products aside .sidebar {
		display: none;
	}

	#portfolio .main-column{
		margin: 0 auto;
		padding: 0;
	}

	#portfolio .main-column img {
		margin: 0 auto;
		width: 90%;
	}

	#portfolio .main-column p {
		text-align: justify;
		padding: 2px 6px;
		float: none;
		width: 100%;
		border: none;
		background-color: #ffffff;
	}

	#footer {
		min-height: 240px;
	}
}